/* START HEADER */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}


.details{
    background-color:lightskyblue ;
    padding: 14px;
    display: flex;
    justify-content: right;
}
.detailsitem{
    color: white;
    margin-right: 20px;
}
.detailsitem span{
    font-size: 20;
    font-weight: 500;
    font-family: sans-serif;
    padding-top: 60px;
}

.detailsitem .bi{
    margin-right: 9px;
    font-weight: 1000px;
}
/* END STARTER */

.standardcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: sticky;
    background-color: white;
    height: 70px;
    top: 0;
    z-index: ;
}
.standardlinks{
    padding-right: 35px;
}
 .standardlinks a{
text-decoration: none;
color: black;
font-size: 18px;
margin-right: 5px; 
}

.standardlinks a:hover{
    text-decoration: underline;
    background-color: antiquewhite;
    transition-delay: 1.5s;
    margin-top: 20px
}


.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.122), rgba(0, 0, 0, 0)), url('https://av.sc.com/corp-en/content/images/Girls-01-2000-169.png');
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    
    
}
.banner .text{
    padding-top: 120;
    
}

.banner .text h1{
color: whitesmoke;
font-size: 65px;
padding-left: 50px;
}

.banner .text p{
    color: white;
    padding-top: 50px;
    padding-left: 90px;
    line-height: 30px;
    margin-right: 201px;
    
}
 
.banner .text .p{
    background-color: slateblue;
    color: whitesmoke;
    margin-top: 50px;
    margin-left: 55px;
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 20px;
    border: none;
} 

.banner .text .p:hover{
    background-color: black;
    transition: 1.5s ease-in-out;
}


.port{ background: linear-gradient(to bottom, color rgb(155, 155, 9) );
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
 
.port main img{ 
    /* width: 100%; */
    /* padding: 20px; */
}

.port main{
background-color: rgb(178, 20, 20); 

margin: 30px
/* padding: 20px; */

}

.demo2{
    background-color: rgb(49, 169, 169); 
    width: 100%;
    padding: 220px;
}

.democontent{
    background-image: linear-gradient( rgb(0, 0, 0),rgb(0, 0, 0)), url('..images/careers-global-cta-banner-tint50.jpg');
}










.standardcontainer .hamburger{
    display: none;
}


















@media screen and (max-width: 650px){
    .standardcontainer .standardlinks{
        display: none;
    }
    
    .standardcontainer .hamburger{
        display: block;
        font-size: 50px;
        color:  red;
    }

    .banner{
        display: flex
    }

    




    body{

    }



    body